/*---------------------------------------------------About and Copyright Section---------------------------------------------------*/

.contacts {
  font-family: "Arial", sans-serif;
}

@media only screen and (max-width: 950px) {
  .main-column {
    padding: 0px !important;
    margin: 0px !important;
  }
}

/*---------------------------------------------------Research and Development Center---------------------------------------------------*/

.research-development-logo {
  max-width: 128px;
  max-height: 128px;
  padding: 2%;
  margin: 2%;
}

.uphsl-main-library-logo {
  max-width: 128px;
  max-height: 128px;
  padding: 2%;
  margin: 2%;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}
