/*-------------Fonts-------------*/

.research-fields,
.repository-metrics,
.promotion {
  font-family: "Roboto", sans-serif;
}

/*---------------------------------------------------Search Section---------------------------------------------------*/

.search-section {
  padding: 2%;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 576px) {
  .search-button {
    font-size: 0.8rem;
  }
}

.form-search {
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: #012265;
  border-color: #012265;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: #27498d !important;
  border-color: #27498d !important;
}

.search-option-buttons {
  color: #000000 !important;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.search-option-buttons:hover {
  text-decoration: underline;
}

.modal-content {
  font-family: "Roboto", sans-serif;
}

.modal-header {
  background-color: #012265;
}
.modal-title {
  color: #ffffff;
}

.modal-search-button {
  background-color: #012265;
  border-color: #012265;
}

.modal-search-button:hover {
  background-color: #27498d;
  border-color: #27498d;
}

/*---------------------------------------------------Research Field---------------------------------------------------*/

.hr-home {
  border: 1px solid #808080;
}

#research-field-title-text {
  font-weight: 400;
}

.research-fields-logos {
  max-width: 64px;
  max-height: 64px;
  margin: 20px;
  /*border: 2px solid black;
    border-radius: 50%;*/
}

.research-field-image-link {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

.research-field-image-link:hover {
  text-decoration: underline;
  color: #012265;
}

.research-field-column-item {
  padding: 20px;
}

.view-more-link {
  text-decoration: none;
  color: #2f4f4f;
  font-weight: bold;
  margin: 1%;
  padding: 1%;
}

.view-more-link:hover {
  text-decoration: underline;
  color: #012265;
}

.field {
  background-color: #f2f2f2 !important;
  margin-bottom: 10px;
  margin-right: 2px;
}

.field:hover {
  background-color: gainsboro !important;
  color: #000000;
  cursor: pointer;
}

.field-link {
  color: #000000;
  text-decoration: none;
}

.field-research-title {
  color: #000000;
  text-decoration: none;
}

.field-research-title:hover {
  text-decoration: underline;
  color: #000000;
}

/* .accordion-item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 2px;
  border-color: gainsboro;
} */

/*---------------------------------------------------Repository Metrics---------------------------------------------------*/

.repository-metrics {
  background-color: #012265;
  color: #ffffff;
}

.repository-metrics-logos {
  max-width: 64px;
  max-height: 64px;
}

.repository-metrics-p-text {
  color: #2f4f4f;
  font-weight: bold;
}

.repository-metrics-column-item {
  background-color: #ffffff;
  padding: 2%;
}

.repository-metrics-counter {
  color: #2f4f4f;
  font-size: 2rem;
}

h5 {
  color: #2f4f4f;
}

.view-more-statistics-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.view-more-statistics-link:hover {
  text-decoration: underline;
  color: rgba(255, 222, 0, 1);
}

/*---------------------------------------------------Promotion---------------------------------------------------*/

.promotion-header-text {
  font-weight: bold;
  margin-bottom: 5%;
}

.promotion-content-text {
  font-weight: normal;
  color: #2f4f4f;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}

/*---------------------------------------------------Browse Researches Accordion Items---------------------------------------------------*/

.department-title-content {
  color: #000000;
  text-decoration: none;
}

.department-title-content:hover {
  text-decoration: underline;
  color: #000000;
}

.department-title {
  font-size: 20px;
}
