/* ------------------------------ Login Page ------------------------------ */

body {
  background-color: #012265;
  font-family: "Roboto", sans-serif;
}

#buttonLogin {
  background-color: #012265;
}

/* #saliksik-logo {
  max-width: 400px;
} */

.forgot-password,
.sign-up,
.resend-verification-code {
  text-decoration: none;
  font-weight: bold;
  color: #012265;
}

.forgot-password:hover,
.sign-up:hover,
.resend-verification-code:hover {
  color: #012265;
  text-decoration: underline;
  cursor: pointer;
}

#buttonCreateAccount,
#buttonSubmit,
#buttonSubmitVerificationCode {
  background-color: #012265;
}

#buttonCreateAccount:hover,
#buttonSubmit:hover,
#buttonSubmitVerificationCode:hover {
  background-color: #27498d;
  border-color: #27498d;
}

.toggle-password {
  cursor: pointer;
}

/* ------------------------------ Registration Page ------------------------------ */

.to-login {
  text-decoration: none;
  font-weight: bold;
  color: #012265;
}

.to-login:hover {
  text-decoration: underline;
  color: #012265;
}
