@media only screen and (max-width: 950px) {
  .main-column {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.profile {
  font-family: "Arial", sans-serif;
}

.button-update {
  background-color: #012265;
  border-color: #012265;
}

.button-update:hover {
  background-color: #012b7e;
  border-color: #012b7e;
}

/*---------------------------------------------------Masthead---------------------------------------------------*/

.masthead {
  background-color: white;
}

#masthead-title-text {
  color: #012265;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /*font-size: 3rem;*/
}

#masthead-content-text {
  font-family: "Roboto", sans-serif;
  padding: 2% 0 2% 0;
  text-align: justify;
}

.masthead-link {
  text-decoration: none;
  color: #012265;
  font-weight: bold;
}

.masthead-link:hover {
  color: #012265;
  text-decoration: underline;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}

/*---------------------------------------------------submissions---------------------------------------------------*/

.adminPageCountColumn {
  font-family: "Roboto", sans-serif;
  background-color: #0e408e;
  cursor: pointer;
}

.search-button {
  background: linear-gradient(
    180deg,
    rgba(0, 24, 72, 1) -54%,
    rgba(1, 34, 101, 1) 100%
  );
}

.search-option-buttons {
  color: black !important;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.search-option-buttons:hover {
  text-decoration: underline;
}
