@media only screen and (max-width: 950px) {
  .main-column {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.profile {
  font-family: "Roboto", sans-serif;
}

.button-update {
  background-color: #012265;
  border-color: #012265;
}
.button-update:hover {
  background-color: #012265;
  border-color: #012265;
}

.button-update-acctpref,
.button-edit-acctpref,
.button-create {
  background-color: #012265;
  border-color: #012265;
}

.button-update-acctpref:hover,
.button-edit-acctpref:hover,
.button-create:hover {
  background-color: #0c42ad;
  border-color: #0c42ad;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}

/*---------------------------------------------------submissions---------------------------------------------------*/

.adminPageCountColumn {
  font-family: "Roboto", sans-serif;
  background-color: #0e408e;
  cursor: pointer;
}

.adminPageCountColumn:hover {
  background-color: #46679c;
}

.search-button {
  background: linear-gradient(
    180deg,
    rgba(0, 24, 72, 1) -54%,
    rgba(1, 34, 101, 1) 100%
  );
}

.search-option-buttons {
  color: black !important;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.search-option-buttons:hover {
  text-decoration: underline;
}

.editReviseButton {
  color: #000000;
  text-decoration: none;
}

.editReviseButton:hover {
  text-decoration: underline;
  color: #000000;
}
