body {
    font-family: "Roboto", sans-serif;
  }

  .repository-metrics-logos {
  max-width: 64px;
  max-height: 64px;
}

.top-viewed-links {
  text-decoration: none;
  color: #012265;
  font-weight: bold;
}

.top-viewed-links:hover {
  text-decoration: underline;
  color: #012265;
}