/*---------------------------------------------------Submit and Submission Form Guidelines Section---------------------------------------------------*/

.submit-research {
  font-family: "Roboto", sans-serif;
}

.alert {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 950px) {
  .main-column {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.button-submit-research {
  background-color: #012265;
  border-color: #012265;
}

.button-submit-research:hover {
  background-color: #27498d;
  border-color: #27498d;
}

#submitResearchDissertationButton:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

#resubmitButtonThesis:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

#resubmitButtonJournal:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

#resubmitButtonInfographics:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

#submitJournalButton:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

#submitInfographicsButton:disabled {
  background-color: #808080 !important;
  border-color: #808080 !important;
}

.remove-attachment:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*---------------------------------------------------Masthead---------------------------------------------------*/

.masthead {
  background-color: #ffffff;
}

#masthead-title-text {
  color: #012265;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  /*font-size: 3rem;*/
}

#masthead-content-text {
  font-family: "Roboto", sans-serif;
  padding: 2% 0 2% 0;
  text-align: justify;
}

.masthead-link {
  text-decoration: none;
  color: #012265;
  font-weight: bold;
}

.masthead-link:hover {
  color: #012265;
  text-decoration: underline;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}
