/*---------------------------------------------------Submit and Submission Form Guidelines Section---------------------------------------------------*/

.submit-research {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 950px) {
  .main-column {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.button-submit-research {
  background-color: #012265;
  border-color: #012265;
}

.button-submit-research:hover {
  background-color: #27498d;
  border-color: #27498d;
}

/*---------------------------------------------------Side Menu---------------------------------------------------*/

.side-menu-text:hover {
  cursor: pointer;
}
